// File: About.module.scss
// Developer: @yannick-leguennec (GitHub username)

.primeTitle {
    color: $title-color;
    text-align: center;
}

.title {
    color: $title-color;
    text-align: center;
  }

  .mediaContainer {
    padding: 50px 20px;

    @media (max-width: $mantine-breakpoint-xs) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px 20px
    }
  }
  
  