// File name: Login.module.scss
// Developer: @yannick-leguennec (GitHub ID)

.alert {
  color: red;
  margin: 1rem;
}

.form {
  width: 35%;

  @media (max-width: $mantine-breakpoint-lg) and (min-width: $mantine-breakpoint-md) {
    width: 35%;
  }

  @media (max-width: $mantine-breakpoint-md) {
    width: 40%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
  }
}
