// File name: AlertModal.tsx
// Developer: @yannick-leguennec (GitHub ID)

.primeTitle {
    color: $title-color;
    text-align: center;
}

.title {
    color: $title-color;
    text-align: center;
  }