// DaySection.module.scss
// Developed by @yannick-leguennec (GitHub ID)

.yearSeparator {
  position: relative;
  text-align: center;
  margin: 20px 0 30px 0; // Ajustez la marge selon vos besoins
  border-bottom: 1px solid #267580;
}

.cardContainer {
  width: 100%;
}
