// File name: Terms.module.scss
// Developer: @yannick-leguennec - Yannick's GitHub identifier

.stroke {
  margin: 20px 0 30px 0; // Ajustez la marge selon vos besoins
  padding-bottom: 60px;
  border-bottom: 1px solid #267580;
}
