// Filename: _variables.scss
// Developer: @yannick-leguennec (GitHub ID)

// Colors variables

// background colors home page
$home-gradient-background1: #14a5a9;
$home-gradient-background2: #49cdb5;

// background colors for header
$header-gradient-background1: #14a5a9;
$header-gradient-background2: #49cdb5;

// background colors for footer
$footer-gradient-background1: #14a5a9;
$footer-gradient-background2: #49cdb5;

// background colors for app pages
$app-gradient-background1: #bfe8e3;
$app-gradient-background2: #bdefe6;

// task badge colors
$task-badge-background: #fcdfde;
$task-badge-color: #f26751;

// event badge colors
$event-badge-background: #fce8be;
$event-badge-color: #dba231;

// button colors
$button-gradient-color1: #fea081;
$button-gradient-color2: #fe7659;

// Title color
$title-color: #267580;

// Subtitle color
$subtitle-color: #282722;

// Cards and Modal shadow color
$shadow-color: #28627f;

// Cards text color
$card-text-maincolor: #2b8c93;
$card-text-secondarycolor: #282722;

// Modal Header Color
$modal-header-color: #6bd3d4;

// Text color
$header-font-color: #FFFFFF;
$footer-font-color: #FFFFFF;
// Fonts variables
$text-font: 'Varela Round','Roboto', sans-serif;

