// File Name: Home.module.scss
// Developer: @yannick-leguennec (GitHub ID)

.home {
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gradientBackground {
  background: linear-gradient(to right, $home-gradient-background1, $home-gradient-background2);
}

.responsiveImage {
  width: auto; /* Largeur maximale pour s'adapter au conteneur */
  height: 250px; /* Hauteur automatique pour maintenir le ratio d'aspect */

  @media (max-width: $mantine-breakpoint-sm) {
    height: 150px; /* Hauteur réduite pour les appareils mobiles */
  }
}
