// File Name: MainUser.module.scss
// Developer: @yannick-leguennec (GitHub username)

.searchContainer {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchBar {
  margin: 0 auto;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;

  @media (max-width: $mantine-breakpoint-xs) {
    width: 250px;
  }
}

.button {
  width: 110px;
  margin: 10px;

  @media (max-width: $mantine-breakpoint-xs) {
    margin: 10px 0;
  }
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
