// File: SignUp.module.scss
// Developer: @yannick-leguennec (GitHub ID)

.slide1 {
  width: 20%;

  @media (max-width: $mantine-breakpoint-xl) and (min-width: $mantine-breakpoint-lg) {
    width: 25%;
  }

  @media (max-width: $mantine-breakpoint-lg) and (min-width: $mantine-breakpoint-md) {
    width: 40%;
  }

  @media (max-width: $mantine-breakpoint-md) {
    width: 40%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 50%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
  }
}

.slide2 {
  width: 20%;

  @media (max-width: $mantine-breakpoint-xl) and (min-width: $mantine-breakpoint-lg) {
    width: 25%;
  }

  @media (max-width: $mantine-breakpoint-lg) and (min-width: $mantine-breakpoint-md) {
    width: 40%;
  }

  @media (max-width: $mantine-breakpoint-md) {
    width: 40%;
  }

  @media (max-width: $mantine-breakpoint-sm) {
    width: 50%;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    width: 90%;
  }
}

.radius {
  border-radius: 25px;
}
